---
layout: default
---

<div class="container" align="center">  
<div class="headline">
        <p><span>Who Am I?</span></p>
        <h2>Personal Details</h2>
</div> 
</div>

<!-- Profile Section 
____________________________________________
_________________________________________ -->

<div class="container">
{% for profile in site.profile %}
        <div class="row">
            <div class="five columns" align="left">
                <ul class="personal-details">

<!-- Each of these refers to the YAML frontend of the profile.md file. You can create your own or edit these to suit -->

                    <li><strong>Name </strong>{{ profile.name }}</li>
                    <li><strong>Location </strong>{{ profile.location }}</li>
                    <li><strong>Country </strong>{{ profile.country }}</li>
                    <li><strong>LinkedIn </strong> <a href="{{ profile.linkedin }}">Profile</a></li>
                    <li><strong>GitHub </strong> <a href="{{ profile.github }}">Repositories</a></li>
                </ul>
            </div>
            
            <div class="seven columns">
        <h3>Professional Profile</h3>
        {{ profile.content }}
    </div>
    </div>

{% endfor %}
</div>      
    
<section class="u-full-width" id="experience"> 

<!-- Info below is the section heading and tagline -->
   
    <div class="container" align="center">  
    <div class="headline" align="center">
        <p><span>Professional Background</span></p>
        <h2>Work Experience</h2>
    </div>
    </div>


    <div class="container">    
{% for experience in site.experience reversed %}

<!-- Info below is drawn in from the YAML front end -->
        
    <div class="row">
            <div class="five columns">
                <h2 class="date">{{ experience.period }}</h2>
                <h4 class="employer">{{ experience.employer }}</h4>
        </div>
        <div class="seven columns">
            
<!-- Info below is drawn in from the YAML title: and the content from the actual .md -->
            
        <h3>{{ experience.title }}</h3>
            {{ experience.content }}
    </div> 
    </div>
{% endfor %}
        
    </div>



</section>    

<section class="u-full-width" id="education"> 
    <div class="container" align="center">  
        <div class="headline" align="center">
            <p><span>Learning &amp; Training</span></p>
            <h2>Education</h2>
        </div>
    </div>

    
    <div class="container">

{% for education in site.education reversed %}
    <div class="row">
            <div class="five columns">
                <h2 class="date">{{ education.period }}</h2>
                <h4 class="institution">{{ education.institution }}</h4>
            </div>
         <div class="seven columns">
            <h3>{{ education.title }}</h3>
        </div>
    </div>
 
{% endfor %}                
    </div>
</section>
    
<section class="u-full-width" id="technical">

    <div class="container" align="center">  
        <div class="headline" align="center">
        <p><span>Technical Content</span></p>
        <h2>Blogs and Talks</h2>
        </div>
    </div>
    
    <div class="container">
        
{% for technical in site.technical %}
    <div class="row" align="center">
        <p align="center"><a href="{{ technical.link }}">{{ technical.title }}</a></p>
    </div>
        
{% endfor %}
 
        
    </div>
</section>

<section class="u-full-width" id="interests"> 

    <div class="container" align="center">  
        <div class="headline" align="center">
        <p><span>Outside</span></p>
        <h2>Interests</h2>
        </div>
    </div>
    
    <div class="container">

{% for interests in site.interests %}
    <div class="row">  
        <div class="five columns">
                <h2 class="date">{{ interests.title }}</h2>
            </div>
         <div class="seven columns">
            {{ interests.content }}
        </div>
    </div>

{% endfor %} 
        
    </div>
</section>

